/* restaurant site stylesheet */
.footer, .header {
	font-size: 20px;
	text-align: center;
}

.row{
	width: 120px;
}


.backcolor{
	background-color: Azure;
	
}
/* amarante-regular - latin */
@font-face {
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amarante-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amarante Regular'), local('Amarante-Regular'),
       url('../fonts/amarante-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amarante-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amarante-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amarante-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amarante-v4-latin-regular.svg#Amarante') format('svg'); /* Legacy iOS */
}
.name{
	font-family: 'Amarante';
}