﻿#img-bg {
	text-align: center;
	font-size: 24px;
	background-color: grey;
	border-bottom: 2px solid black;
}
#memberstitle {
	text-align: center;
	font-size: 24px;
	font-family: 'Chewy';
	color: black;
	padding-top: 15px;
}
.members {
	font-style: italic;
	font-size: 18px;
	color: black;
}
.albumdata {
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
	border-color: black;
	text-align: center;
}

.centering {
	text-align: center;
	color: black;
}

.tracknum {
	width: 10%;
	text-align: center;
}

.tracktitle {
	width: 30%;
	text-align: center;
}

.tracklength {
	width: 60%;
	text-align: center;
}

th {
	background-color: gray;
}

tbody tr:nth-child(odd) {
	background-color: RosyBrown;
	font-style: italic;
}

tbody tr:nth-child(even) {
	background-color: grey;
	font-style: italic;
}

h1 {
	font-family: "Fredericka the Great";
}
a{
    font-family: "Chunkfive";
	text-decoration: none;
    color: RosyBrown;
    font-size: 30px;
}
a:hover{
        text-decoration: underline;
        font-size: 30px;
        background-color: RosyBrown;
        color: black;
    }
@font-face{
        font-family: "Chunkfive";
        src: url("fonts/Chunkfive.otf") format('opentype');
}
