﻿
#Name {
    text-align: center;
    font-family: 'Amarante';
    color: black; 
	padding-bottom:20px;
   
}
#NewLoc{
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.tabwidth {
    width: 120px;
    text-align:center; 
   
}
.page-header {
    margin-bottom: 0px;
    border-bottom: 0px;
    background-color: lightskyblue ;
    margin-top: 0px;
    border-top: 1px solid black;
}
.homepic{  
        
        display: block;
        margin: 0 auto; 
        height: 150px; 
        width: 400px;

}
#description {
        width: 400px;
        float: none;
        margin: 0 auto;
        font-size: larger;
}
.homebg{
    background-color: skyblue;
}
.center{
    text-align: center;
}
.bevs {
    width: 240px;
    margin: 0 auto;
    float:none;
}
.rt{
    text-align: right;
}
.been{
    
    font-weight: bold;
}
html {
  position: relative;
  min-height: 100%;kG
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: lightskyblue;
  border-top: 2px solid white;
}
.color_car{
	background-color: deepskyblue;
	padding-bottom: 20px;
}